a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-weight: 400;
}
button {
  border: none;
  cursor: pointer;
}
.lock {
  overflow: hidden;
}
html,
body {
  height: 100%;
}
.page {
  max-width: 1920px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}
.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 1 auto;
}
/*container*/
.container {
  margin: 0 auto;
  padding-left: calc((100% - 1280px) / 2);
  padding-right: calc((100% - 1280px) / 2);
}
@media screen and (max-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*header*/
.header {
  display: flex;
  flex-direction: column;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 15;
  background: #000;
}
@media screen and (max-width: 1210px) {
  .header__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__nav {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1210px) {
  .header__logo {
    width: 110px;
    height: 25px;
  }
}
.header__list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1210px) {
  .header__list {
    display: none;
  }
  .header__nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  transition: 0.3s;
}
.header__link.active,
.header__link:hover {
  color: red;
  transition: 0.3s;
}
.header__fixed {
  width: 100%;
  position: fixed;

  top: 0;
  left: 0;
  background-color: black;
  animation-name: header;
  animation-duration: 1s;
  transition: 1s;
}
@keyframes header {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.header__nav-scroll {
  padding-top: 0;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1210px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    right: 10px;
  }
  .header__burger-fixed {
    right: 40px;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger:before {
    content: "";
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger:after {
    content: "";
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger span {
    content: "";
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*hero*/
.hero {
  background: #000;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid red;
}

.hero__top {
  width: 100%;
  height: 500px;
  background-image: url(../images/hero-bg.jpg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
@media screen and (max-width: 900px) {
  .hero__top {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .hero__top {
    height: 200px;
  }
}
.hero__item-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
@media screen and (max-width: 600px) {
  .hero__item-image {
    box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
  }
}
.hero__card {
  cursor: pointer;
  width: 300px !important;
  height: 360px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .hero__card {
    width: 175px !important;
    height: 175px !important;
  }
}
@media screen and (max-width: 600px) {
  .hero__card {
    width: 167px !important;
    height: 170px !important;
  }
}
.hero__card:hover > .hero__item-front {
  transform: perspective(600px) rotateY(-180deg);
}
.hero__card:hover > .hero__item-back {
  transform: perspective(600px) rotateY(0deg);
}
.hero__item-front,
.hero__item-back {
  width: 280px !important;
  height: 280px !important;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
@media screen and (max-width: 768px) {
  .hero__item-front,
  .hero__item-back {
    width: 150px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 767px) {
  .hero__item-front,
  .hero__item-back {
    width: 150px !important;
    height: 150px !important;
  }
}
.hero__item-front {
  transform: perspective(600px) rotateY(0deg);
}
.hero__item-back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #fff;
  border-radius: 20px;
}
.hero__back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: red;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #fff;
}
.hero__back-title {
  color: #fff;
  font-size: 24px;
}
.hero__back-link {
  color: #fff;
}

.hero__list {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.hero__top-text {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 0px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1210px) {
  .hero__top-text {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1px;
    align-self: start;
  }
}
.hero__title {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: red;
  font-size: 122px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1210px) {
  .hero__title {
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .hero__top-text {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .hero__list {
    align-items: center;
  }
}
.header__mobile {
  top: 74px;
  right: 0;
  width: 100%;
  height: 0;
  background-color: #320606;
  transition: 1s;
  position: fixed;
  overflow: auto;
  transition: all 1s ease 0s;
  z-index: 10;
}
@media screen and (max-width: 1210px) {
  .header__mobile_open {
    height: 100vh;
    transition: all 1s ease 0s;
  }
  .header__mobile-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-left: 30px;
  }
  .header__mobile-link {
    color: #fff;
  }
}
/*swiper*/
.hero__swiper {
  max-width: 1280px !important;
  margin: 60px auto 30px;
}
@media screen and (max-width: 1300px) {
  .hero__swiper {
    max-width: 1000px !important;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .hero__swiper {
    max-width: 738px !important;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero__swiper {
    max-width: 345px !important;
    margin: 0 auto 30px;
  }
}
.hero__swiper-wrapper {
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .hero__swiper-wrapper {
    padding-bottom: 40px;
  }
}

.swiper-scrollbar {
  display: none !important;
}
.swiper-pagination-bullet {
  background: #b1aeae !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
/*interlayer*/
.interlayer {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(../images/interlayer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 550px;
  transition: 1s;
}
@media screen and (max-width: 1200px) {
  .interlayer {
    max-height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .interlayer {
    max-height: 200px;
  }
}

.interlayer:hover .interlayer__text {
  color: #fff;
  transition: 1s;
}
.interlayer__text {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  line-height: 1.4;
  letter-spacing: 0px;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  color: rgb(0 0 0);
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  transition: 1s;
}
@media screen and (max-width: 1200px) {
  .interlayer__text {
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 600px) {
  .interlayer__text {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0px;
  }
}

/*news*/
.news {
  background: #000;
}
.news__wrapper {
  display: flex;
  width: 100%;
  padding-top: 140px;
  padding-bottom: 120px;
}
@media screen and (max-width: 1200px) {
  .news__wrapper {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}

.news__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.news__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .news__inner-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
.news__inner-title {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 36px;
  line-height: 1.4;
  letter-spacing: 0px;
}
.news__inner-title span {
  color: red;
}
@media screen and (max-width: 1200px) {
  .news__inner-title {
    font-size: 30px;
    line-height: 1.3;
  }
}
@media screen and (max-width: 600px) {
  .news__inner-title {
    font-size: 25px;
    line-height: 1.4;
  }
}
.news__inner-top-line {
  height: 1px;
  background-color: red;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .news__inner-top-line {
    display: none;
  }
}
.news__subscribe {
  color: red;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
  border: 1px solid red;
}
.news__subscribe:hover {
  border: 1px solid #fff;
  transition: 0.3s;
  color: #fff;
}
.news__inner-base {
  margin-top: 35px;
  height: calc(100% - 200px) !important;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .news__inner-base {
    margin-top: 20px;
  }
}
.news__inner-scroll {
  max-height: 570px;
  padding: 20px;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news__inner-scroll::-webkit-scrollbar {
  width: 1px; /* задаем ширину скроллбара */
}

.news__inner-scroll::-webkit-scrollbar-thumb {
  background-color: #fff; /* цвет скроллбара */
  border-radius: 5px; /* скругление углов */
  height: 10px;
}

.news__inner-scroll::-webkit-scrollbar-track {
  background-color: red; /* цвет фона скроллбара */
  border-radius: 5px; /* скругление углов */
}
@media screen and (max-width: 600px) {
  .news__inner-scroll {
    max-height: 500px;
    padding: 10px;
  }
  .news__inner-scroll::-webkit-scrollbar {
    width: 0;
  }
}
.news__item {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .news__item {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
.news__item:hover .news__item-link {
  box-shadow: 10px 10px 24px 5px rgba(251, 3, 3, 0.618);
}
.news__item-link {
  width: 40%;
  display: block;
  position: relative;
  border: 1px solid red;
  transition: all 0.2s ease-in-out;
}
.news__item-link:hover {
  box-shadow: 10px 10px 24px 5px rgba(251, 3, 3, 0.618);
}
@media screen and (max-width: 767px) {
  .news__item-link {
    width: 100%;
  }
}
.news__item-img {
  width: 100%;
  height: 220px;
  background-image: url(../images/news.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
  .news__item-img {
    height: 170px;
  }
}
@media screen and (max-width: 500px) {
  .news__item-img {
    height: 150px;
  }
}
.news__item-text {
  width: 100%;
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1.8;
  letter-spacing: 0px;
  color: #fff;
}
.news__item-text:hover {
  color: red;
  transition: 0.3s;
}

.news__item-box {
  width: 50%;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
.news__item-span {
  transition: all 0.2s ease-in-out;
  color: red;
}
.news__item-span:hover {
  color: #fff;
}

/*footer*/
.footer {
  background: #0a0a0af5;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 900px) {
  .footer__wrapper {
    padding-top: 30px;
    gap: 20px;
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer__copyright {
  color: #fff;
  align-self: flex-end;
  opacity: 0.8;
  font-size: 10px;
}
.footer__list {
  display: flex;
  gap: 20px;
  opacity: 0.8;
}
.footer__image {
  width: 25px;
  height: 25px;
  transition: all 0.5 ease-in-out;
}
.footer__image:hover {
  opacity: 0.6;
}
