/*store*/
.store {
  background-color: azure;
}
.store__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 900px) {
  .store__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .store__wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: center;
  }
}
.store__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .store__top {
    flex-direction: column;
    gap: 30px;
  }
}
.store__top-list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .store__top-list {
    justify-content: space-around;
  }
}
.store__top-image {
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
.store__top-image:hover {
  opacity: 0.5;
}
.store__inner-title {
  color: #000;
}
@media screen and (max-width: 767px) {
  .store__inner-title {
    font-size: 30px;
  }
}
.store__inner {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.store__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 360px;
  height: 450px;
  margin: 15px auto;
  padding: 1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
}
@media screen and (max-width: 900px) {
  .store__card {
    width: 300px;
    height: 400px;
    margin: 10px auto;
  }
}
.store__image {
  width: 360px;
  height: 360px;
  transition: all 1s ease-out;
  object-fit: cover;
  cursor: pointer;
}
.store__image.active {
  transform: scale(1.5);
  box-shadow: -20px 20px 0 -17px #fff, 20px -20px 0 -17px #fff,
    20px 20px 0 -20px #000, 0 0 0 2px #000;
}
@media screen and (max-width: 900px) {
  .store__image {
    width: 300px;
    height: 300px;
  }
  .store__image:hover {
    transform: scale(1.2);
  }
}
.store__title {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  text-shadow: rgb(51 43 43 / 19%) 0px 3px 3px;
}
.store__price {
  font-weight: 400;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: black;
  text-shadow: rgb(51 43 43 / 19%) 0px 3px 3px;
}
.store__box {
  display: flex;
  justify-content: space-between;
}
.store__button {
  font-family: "Open Sans";
  width: 150px;
  height: 100%;
  background: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.store__button:hover {
  opacity: 0.5;
}
@media screen and (max-width: 900px) {
  .store__button {
    width: 50%;
  }
}
