a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-weight: 400;
}
button {
  border: none;
  cursor: pointer;
}
.lock {
  overflow: hidden;
}
.page {
}
.page__content {
  max-width: 1920px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}
/*container*/
.container {
  margin: 0 auto;
  padding-left: calc((100% - 1280px) / 2);
  padding-right: calc((100% - 1280px) / 2);
}
@media screen and (max-width: 1000px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*header*/
.header {
  display: flex;
  flex-direction: column;
  /* height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url(../images/bb.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: contain; */
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  z-index: 15;
  background: #000;
}
@media screen and (max-width: 1210px) {
  .header__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.header__nav {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1210px) {
  .header__logo {
    width: 110px;
    height: 25px;
  }
}
.header__list {
  display: flex;
  gap: 50px;
}
@media screen and (max-width: 1210px) {
  .header__list {
    display: none;
  }
  .header__nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__link {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  transition: 0.3s;
}
.header__link.active,
.header__link:hover {
  color: red;
  transition: 0.3s;
}
.header__fixed {
  width: 100%;
  position: fixed;

  top: 0;
  left: 0;
  background-color: black;
  animation-name: header;
  animation-duration: 0.2s;
}
@keyframes header {
  0% {
    opacity: 0;
    top: -100px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.header__nav-scroll {
  padding-top: 0;
}
.header__burger {
  display: none;
}
@media screen and (max-width: 1210px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    right: 10px;
  }
  .header__burger-fixed {
    right: 40px;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger:before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    top: 9px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
}
@media screen and (max-width: 1210px) {
  .header__burger.active span {
    transform: scale(0);
  }
}
/*hero*/
.hero {
  background: #000;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__top {
  width: 100%;
  height: 500px;
  background-image: url(../images/hero-bg.jpg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
@media screen and (max-width: 900px) {
  .hero__top {
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .hero__top {
    height: 200px;
  }
}
.hero__item-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
@media screen and (max-width: 600px) {
  .hero__item-image {
    box-shadow: 0 0 5px 2px rgba(221, 221, 221, 1);
  }
}
.hero__card {
  cursor: pointer;
  width: 300px !important;
  height: 360px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .hero__card {
    width: 175px !important;
    height: 175px !important;
  }
}
@media screen and (max-width: 600px) {
  .hero__card {
    width: 167px !important;
    height: 170px !important;
  }
}
.hero__card:hover > .hero__item-front {
  transform: perspective(600px) rotateY(-180deg);
}
.hero__card:hover > .hero__item-back {
  transform: perspective(600px) rotateY(0deg);
}
.hero__item-front,
.hero__item-back {
  width: 280px !important;
  height: 280px !important;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.6s linear;
}
@media screen and (max-width: 768px) {
  .hero__item-front,
  .hero__item-back {
    width: 150px !important;
    height: 150px !important;
    pointer-events: none;
  }
}
@media screen and (max-width: 767px) {
  .hero__item-front,
  .hero__item-back {
    width: 150px !important;
    height: 150px !important;
  }
}
.hero__item-front {
  transform: perspective(600px) rotateY(0deg);
}
.hero__item-back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #fff;
  border-radius: 20px;
}
.hero__back-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: red;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #fff;
}
.hero__back-title {
  color: #fff;
  font-size: 24px;
}
.hero__back-link {
  color: #fff;
}

.hero__list {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.hero__top-text {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 38px;
  line-height: 1.2;
  letter-spacing: 0px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1210px) {
  .hero__top-text {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 1px;
    align-self: start;
  }
}
.hero__title {
  font-weight: 400;
  font-style: normal;
  font-family: "Oswald", sans-serif;
  color: red;
  font-size: 122px;
  line-height: 1.1;
  letter-spacing: 1px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1210px) {
  .hero__title {
    font-size: 80px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
}
@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .hero__top-text {
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0px;
  }
  .hero__list {
    align-items: center;
  }
}
.header__mobile {
  top: 74px;
  right: 0;
  width: 100%;
  height: 0;
  background-color: #320606;
  transition: 1s;
  position: fixed;
  overflow: auto;
  transition: all 1s ease 0s;
  z-index: 10;
}
@media screen and (max-width: 1210px) {
  .header__mobile_open {
    height: 100vh;
    transition: all 1s ease 0s;
  }
  .header__mobile-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    padding-left: 30px;
  }
  .header__mobile-link {
    color: #fff;
  }
}
/*swiper*/
.hero__swiper {
  max-width: 1280px !important;
  margin: 60px auto 30px;
}
@media screen and (max-width: 1280px) {
  .hero__swiper {
    max-width: 1000px !important;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1010px) {
  .hero__swiper {
    max-width: 738px !important;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .hero__swiper {
    max-width: 345px !important;
    margin: 0 auto 30px;
  }
}
.hero__swiper-wrapper {
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .hero__swiper-wrapper {
    padding-bottom: 40px;
  }
}
/* .hero__swiper-button-prev,
.hero__swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: transparent;
  border: 2px solid rgba(221, 221, 221, 1);
}
.hero__swiper-button-prev::after,
.hero__swiper-button-next::after {
  color: #fff;
  font-size: 20px !important;
}
.hero__swiper-button-next {
  right: var(--swiper-navigation-sides-offset, 0px) !important;
}
.hero__swiper-button-prev {
  left: var(--swiper-navigation-sides-offset, 0px) !important;
}
@media screen and (max-width: 600px) {
  .hero__swiper-button-prev,
  .hero__swiper-button-next {
    width: 25px !important;
    height: 25px !important;
  }
  .hero__swiper-button-prev::after,
  .hero__swiper-button-next::after {
    font-size: 10px !important;
  }
} */
.swiper-scrollbar {
  display: none !important;
}
.swiper-pagination-bullet {
  background: #b1aeae !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
/*about-us*/
.about-us {
}
